Package: ros-fuerte-octomap-msgs
Version: 0.1.3-0precise
Architecture: amd64
Maintainer: Armin Hornung <HornungA@informatik.uni-freiburg.de>
Installed-Size: 236
Depends: ros-fuerte-common-msgs
Section: misc
Priority: extra
Homepage: http://ros.org/wiki/octomap_msgs
Description: This low-dependency stacks provides messages and basic conversions for the OctoMap library.
 .
 This stack contains the packages:
 * octomap_msgs: octomap_msgs - conversions and messages for OctoMap
